// Template 3
$body-bg-color: url("https://storage.googleapis.com/myanatomy-main/external/uusbackgroudmin.jpg")
  no-repeat center center/cover;
$form-color: #fff;
$form-bg-color: rgba(119, 119, 198, 0.4);
$button-bg: #fff;
$button-color: #000;
$form-shadow: 0px 3px 49px #000;
$form-radius: 0;
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    background: rgb(238, 238, 238);
    padding: 2em;
    border-radius: 4px;
    margin-bottom: 7px;
    display: grid;
    grid-template-columns: 60px auto;

    p {
      font-weight: bold;
      margin-left: 20px;
    }

    img {
      border-radius: 50%;
      width: 100%;
    }
  }
}
label {
  display: block;

  input,
  textarea {
    display: block;
    width: 50%;
    margin-bottom: 20px;
    padding: 1em;
  }

  .error {
    margin-top: -20px;
    background: yellow;
    padding: 0.5em;
    display: inline-block;
    font-size: 0.9em;
    margin-bottom: 20px;
  }
}

.cta {
  background: #7700ff;
  border: none;
  color: white;

  text-transform: uppercase;
  border-radius: 4px;
  padding: 1em;
  cursor: pointer;
  font-family: "Montserrat";
}

.results {
  margin-top: 50px;

  strong {
    display: block;
  }
  span {
    margin-bottom: 20px;
    display: block;
  }
}

.bgnd {
  background: $body-bg-color;
  //   background: linear-gradient(-155deg, #614ad3, #f1d6ab);
  width: 100%;
  height: 100vh;

  form {
    box-sizing: border-box;
    position: relative;
    width: 379px;
    margin: 0 auto;
    background: $form-bg-color;
    padding: 20px;
    padding-top: 10px;
    text-align: center;
    border-radius: $form-radius;
    border-top-right-radius: 0;
    box-shadow: $form-shadow;
    top: 50%;
    transform: translate(0, -50%);

    span.logo {
      position: absolute;
      top: -30px;
      width: 60px;
      right: 0;
      left: 0;
      margin: 0 auto;
    }

    h1 {
      padding-bottom: 23px;
      padding-top: 23px;
      color: $form-color;
    }

    h5 {
      color: #6eb749;
    }

    p {
      color: $form-color;
      font-size: 0.7em;
    }

    h6 {
      color: $form-color;

      button {
        background: none;
        box-shadow: 0;
        border: 0;
        border-bottom: 1px solid $form-color;
      }
    }
  }
}

@media (max-width: 430px) {
  form {
    width: 95% !important;
  }

  label {
    span {
      width: 95% !important;
    }
  }
}

label {
  display: block;
  text-align: center;
  color: $form-color;
  font-size: 19px;
  margin-bottom: 13px;
  clear: both;
  display: block !important;
  line-height: 3;

  span {
    display: block;
    position: relative;
    width: 80%;
    margin: 0 auto;
  }

  span:before {
    position: absolute;
    width: 0%;
    height: 0%;
    border-top: 1px solid $form-color;
    border-left: 1px solid $form-color;
    content: "";
    left: 0;
    bottom: 0;
  }

  span:after {
    position: absolute;
    height: 0%;
    border-right: 1px solid $form-color;
    content: "";
    right: 0px;
    top: 0px;
  }

  span:hover:before,
  span:focus:before {
    /* Safari 4.0 - 8.0 */
    -webkit-animation-name: box-border;
    -webkit-animation-duration: 1s;
    animation-name: box-border;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }

  span:hover:after,
  span:focus:after {
    /* Safari 4.0 - 8.0 */
    -webkit-animation-name: box-right;
    -webkit-animation-duration: 1s;
    animation-name: box-right;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
  }

  input,
  textarea {
    display: block;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0);
    border: 0;
    border-bottom: 1px solid $form-color;
    color: $form-color;
    font-size: 13px;
    margin: 0 auto 20px auto;
  }

  .error {
    margin-top: -25px;
    display: block;
    font-size: 0.7em;
    color: red;
    font-weight: 700;
    position: relative;
  }
}

@-webkit-keyframes box-right {
  from {
    height: 0%;
  }

  to {
    height: 100%;
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes box-border {
  0% {
    width: 0%;
    height: 0%;
  }

  25% {
    width: 0%;
    height: 100%;
  }

  50% {
    width: 50%;
    height: 100%;
  }

  100% {
    width: 100%;
    height: 100%;
  }
}

/* Standard syntax */
@keyframes box-border {
  0% {
    width: 0%;
    height: 0%;
  }

  25% {
    width: 0%;
    height: 100%;
  }

  50% {
    width: 50%;
    height: 100%;
  }

  100% {
    width: 100%;
    height: 100%;
  }
}

.cta {
  background: $button-bg;
  border: none;
  color: $button-color;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 1em;
  cursor: pointer;
  font-family: "Montserrat";
  margin-top: 15px;
}

.results {
  margin-top: 50px;

  strong {
    display: block;
  }

  span {
    margin-bottom: 20px;
    display: block;
  }
}

