<!-- <form [formGroup]="registrationForm" (ngSubmit)="register()">
  <h5 *ngIf="success">Your form is valid!</h5>
  <label>
    Email:
    <input type="text" formControlName="email">
    <div *ngIf="submitted && registrationForm.controls.email.errors" class="error">
      <div *ngIf="registrationForm.controls.email.errors.required">Your email is required</div>
    </div>
  </label>
  <label>
    Name:
    <input type="text" formControlName="name">
    <div *ngIf="submitted && registrationForm.controls.name.errors" class="error">
      <div *ngIf="registrationForm.controls.name.errors.required">Your name is required</div>
    </div>
  </label>

  <label>
    Password:
    <input type="password" formControlName="password">
    <div *ngIf="submitted && registrationForm.controls.password.errors" class="error">
      <div *ngIf="registrationForm.controls.password.errors.required">Your password is required</div>
    </div>
  </label>

  <label>
    Confirm Password:
    <input type="password" formControlName="confirmPassword">
    <div *ngIf="submitted && registrationForm.controls.confirmPassword.errors" class="error">
      <div *ngIf="registrationForm.controls.confirmPassword.errors.required">Your confirm password is required</div>
    </div>
  </label>

  <input type="submit" value="Register" class="cta" [disabled]="!registrationForm.valid">
  I already have an account, <button (click)="login=true">Login</button>

</form> -->