<!--
  <ul *ngIf="users">
    <li *ngFor="let user of users.data">
      <img [src]="user.avatar">
      <p>{{ user.first_name }} {{ user.last_name }}</p>
    </li>
  </ul>
  <button (click)="login()">Login</button>
  
-->
<div class="bgnd">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <span class="logo"><img src="../../assets/img/logo-mail.png" alt="Myanatomy"></span>
    <h1>Reset Password</h1>
    <h5 *ngIf="success">Your form is valid!</h5>

    <label>
      Password
      <span> <input type="password" formControlName="password"></span>
      <div *ngIf="submitted && resetPasswordForm.controls.password.errors" class="error">
        <div *ngIf="resetPasswordForm.controls.password.errors.required">Your email is required</div>
      </div>
    </label>

    <label>
      Confirm Password
      <span><input type="password" formControlName="confirmPassword"></span>
      <div *ngIf="(resetPasswordForm.get('confirmPassword').value != resetPasswordForm.get('password').value) && (resetPasswordForm.get('confirmPassword').value != '')" class="error" >Passwords must match</div> 
      <div *ngIf="submitted && resetPasswordForm.controls.confirmPassword.errors" class="error">
        <div *ngIf="resetPasswordForm.controls.confirmPassword.errors.required">A password is required</div>
      </div>
    </label>
    <p>
      Great Passwords use upper and lower case characters, numbers and symbols like !*$%#
    </p>
    <input type="submit" value="Reset Password" class="cta" [disabled]="(!resetPasswordForm.valid) || (resetPasswordForm.get('confirmPassword').value != resetPasswordForm.get('password').value)">

    <!-- <h6>I am new user, <button (click)="login=false">Register</button></h6> -->

  </form>
</div>
